@font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSansJP-VariableFont_wght.ttf") format("truetype");
}

body {
    background-color: rgb(245, 245, 245);
    transition: background-color 2s ease;
}

.color-section1 {
    background-color: rgb(245, 245, 245);
}

.color-section2 {
    background-color: rgb(211, 221, 235);
}

.title-container {
    height: 100vh;
    font-weight: 100;
    color: rgb(58, 58, 58);
}

.title-block {
    text-align: center;
    /*line-height: 80vh;*/
}

.title-block h1 {
    margin-top: 35vh;
}
.title-block h2 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: x-large;
}

#title {
    display: inline-block;
    /*font-size: 24px;*/
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #000;
}

